<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension  point="org.sopa.sbus.service">
         <service name="org.example.arithmatics" class="org.example.Arithmatics">
         	<operation name="multiply" returnType="xsd:double">
         		<parameter name="first" type="xsd:double" />
         		<parameter name="second" type="xsd:double" />
         	</operation>
         </service>
   </extension>

</plugin>
